//Variables
$app-background: #007abc;
$app-bg-img: url(./../../assets/img/medium.jpg);
$header-background: #007abc;
$width-100: 100%;
$width-90: 90%;
$width-80: 80%;
$width-70: 70%;
$width-60: 60%;
$width-50: 50%;
$width-40: 40%;
$width-30: 30%;
$width-20: 20%;
$width-10: 10%;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-26: 26px;
$font-28: 28px;
$font-30: 30px;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #92A1B4;
$color-blue: #56a8fb;
$color-green: #56d48f;
$text-light-grey: #617083;
$text-light-green: #56d48f;
$text-light-white:#a6b8d2;
$hr-color: rgb(255, 250, 221);
$normal-weght: normal;
$border1: 1px solid #ced9ee;