@import './variables.scss';


.header{
  width:100%;
  display:block;
  background-color: rgba(0,0,0,.15);
  overflow: hidden;
  margin-bottom:20px;
  h1{
    text-align:center;
    color: #ffffff;
  }
}